XML_schema_Import_Time_Visma_Lon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0 2014-03-25" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation>
This schema defines import file of times and outlays to Visma Lön 300/600.
You can find more information in the document "Filformat för tidsredovisningsfil Lön 300 600.doc".
Please contact Visma Spcs if you have any questions, www.vismaspcs.se.
</xs:documentation>
</xs:annotation>
<xs:element name="SalaryData">
<xs:complexType>
<xs:all>
<xs:element name="TimeCodes">
<xs:complexType>
<xs:sequence>
<xs:element name="TimeCode" maxOccurs="unbounded">
<xs:complexType>
<xs:attribute name="Code" type="string-min1-max10" use="required" />
<xs:attribute name="TimeCodeName" type="string-min1-max50" use="required" />
<xs:attribute name="AbsenceType" type="int-0-or-1-or-991-or-992" />
<xs:attribute name="RegularWorkingTime" type="xs:boolean" />
<xs:attribute name="ConversionFactorTime" type="decimal-or-empty" />
<xs:attribute name="Active" type="xs:boolean" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Projects" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Project" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:attribute name="Code" type="string-min1-max10" use="required" />
<xs:attribute name="Description" type="string-min1-max50" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ResultUnits" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ResultUnit" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:attribute name="Code" type="string-min1-max20" use="required" />
<xs:attribute name="Description" type="string-min1-max50" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SalaryDataEmployee">
<xs:complexType>
<xs:sequence>
<xs:element name="Employee" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="NormalWorkingTimes">
<xs:complexType>
<xs:sequence>
<xs:element name="NormalWorkingTime" maxOccurs="unbounded">
<xs:complexType>
<xs:attribute name="DateOfReport" type="date-or-empty" use="required" />
<xs:attribute name="NormalWorkingTimeHours" type="decimal-or-empty" use="required" />
<xs:attribute name="FlexTimeHours" type="decimal-or-empty" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Times">
<xs:complexType>
<xs:sequence>
<xs:element name="Time" maxOccurs="unbounded">
<xs:complexType>
<xs:attribute name="DateOfReport" type="date-or-date-string" use="required" />
<xs:attribute name="TimeCode" type="string-min1-max10" use="required" />
<xs:attribute name="SumOfHours" type="decimal-or-empty" use="required" />
<xs:attribute name="PricePerUnit" type="string-max11" />
<xs:attribute name="TimeStart" type="xs:string" />
<xs:attribute name="TimeEnd" type="xs:string" />
<xs:attribute name="ProjectCode" type="string-max10" />
<xs:attribute name="ResultUnitCode" type="string-max20" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="TimeAdjustments">
<xs:complexType>
<xs:sequence>
<xs:element name="Adjustment" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:attribute name="Date" type="date-or-date-string" use="required" />
<xs:attribute name="TimeCode" type="string-min1-max10" use="required" />
<xs:attribute name="Hours" type="decimal-or-empty" use="required" />
<xs:attribute name="Comment" type="string-max100" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="TimeBalances">
<xs:complexType>
<xs:sequence>
<xs:element name="TimeBalance" maxOccurs="unbounded">
<xs:complexType>
<xs:attribute name="TimeCode" type="string-min1-max11" use="required" />
<xs:attribute name="PeriodRegHours" type="decimal-or-empty" />
<xs:attribute name="ConvPeriodRegHours" type="decimal-or-empty" />
<xs:attribute name="AccRegHours" type="decimal-or-empty" />
<xs:attribute name="ConvAccRegHours" type="decimal-or-empty" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="BookDistributionProjects" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BookDistributionProject" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:attribute name="ProjectCode" type="string-min1-max10" use="required" />
<xs:attribute name="Distribution" type="decimal-min0-max100-maxDecimals6-maxDigits10" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="BookDistributionResultUnits" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BookDistributionResultUnit" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:attribute name="ResultUnitCode" type="string-min1-max10" use="required" />
<xs:attribute name="Distribution" type="decimal-min0-max100-maxDecimals6-maxDigits10" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RegOutlays">
<xs:complexType>
<xs:sequence>
<xs:element name="RegOutlay" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:attribute name="DateOfReport" type="date-or-date-string" use="required" />
<xs:attribute name="OutlayCode" type="string-max10" use="required" />
<xs:attribute name="OutlayCodeName" type="string-max50" use="required" />
<xs:attribute name="OutlayType" type="string-max50" use="required" />
<xs:attribute name="NoOfPrivate" type="decimal-or-empty" use="required" />
<xs:attribute name="Unit" type="string-max50" use="required" />
<xs:attribute name="SumOfPrivate" type="decimal-or-empty" use="required" />
<xs:attribute name="SumOfPrivateTax" type="decimal-or-empty" use="required" />
<xs:attribute name="InternNote" type="string-max50" use="required" />
<xs:attribute name="ProjectCode" type="string-max10" />
<xs:attribute name="ResultUnitCode" type="string-max20" />
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:all>
<xs:attribute name="EmploymentNo" type="string-min1-max20" use="required" />
<xs:attribute name="Signature" type="string-min1-max10" />
<xs:attribute name="FirstName" type="string-min1-max50" use="required" />
<xs:attribute name="Name" type="string-min1-max50" use="required" />
<xs:attribute name="PersonalNo" type="string-max12" />
<xs:attribute  name="HourlyWage" type="int-0-or-1" />
<xs:attribute name="EmplCategory" type="int-0-or-1" />
<xs:attribute name="FromDate" type="date-or-date-string" use="required" />
<xs:attribute name="ToDate" type="date-or-date-string" use="required" />
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="FromDate" type="date-or-date-string" use="required" />
<xs:attribute name="ToDate" type="date-or-date-string" use="required" />
</xs:complexType>
</xs:element>
</xs:all>
<xs:attribute name="ProgramName" type="xs:string" />
<xs:attribute name="Version" type="xs:string" />
<xs:attribute name="ExportVersion" type="string-version-of-file" />
<xs:attribute name="Created" type="date-or-date-string" />
<xs:attribute name="Type" type="xs:string" />
<xs:attribute name="Language" type="xs:string" />
<xs:attribute name="CompanyName" type="xs:string" />
<xs:attribute name="OrgNo" type="string-max11" />
<xs:attribute name="Imported" type="xs:boolean" />
<xs:attribute name="BookDistributionProject" type="xs:boolean" />
<xs:attribute name="BookDistributionResultUnit" type="xs:boolean" />
</xs:complexType>
</xs:element>

<!-- definition of named types -->
<xs:simpleType name="empty-string">
<xs:restriction base="xs:string">
<xs:enumeration value="" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="decimal-or-empty">
<xs:union memberTypes="xs:decimal empty-string" />
</xs:simpleType>

<xs:simpleType name="decimal-min0-max100-maxDecimals6-maxDigits10">
<xs:restriction base="xs:decimal">
<xs:totalDigits value="10" />
<xs:fractionDigits value="6" />
<xs:minInclusive value="0" />
<xs:maxInclusive value="100" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="time-or-empty">
<xs:union memberTypes="xs:time empty-string" />
</xs:simpleType>

<xs:simpleType name="date-string">
<xs:restriction base="xs:string">
<xs:pattern value="\d\d-\d\d-\d\d|\d\d\d\d\d\d|\d\d\d\d\d\d\d\d" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="date-or-date-string">
<xs:union memberTypes="xs:date date-string" />
</xs:simpleType>

<xs:simpleType name="date-or-empty">
<xs:union memberTypes="date-or-date-string empty-string" />
</xs:simpleType>

<xs:simpleType name="int-0-or-1">
<xs:restriction base="xs:int">
<xs:enumeration value="0" />
<xs:enumeration value="1" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="int-0-or-1-or-991-or-992">
<xs:restriction base="xs:int">
<xs:enumeration value="0" />
<xs:enumeration value="1" />
<xs:enumeration value="991" />
<xs:enumeration value="992" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-version-of-file">
<xs:restriction base="xs:string">
<xs:enumeration value="1.0" />
<xs:enumeration value="1.1" />
<xs:enumeration value="1.2" />
<xs:enumeration value="1.3" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-min1-max10">
<xs:restriction base="xs:string">
<xs:minLength value="1" />
<xs:maxLength value="10" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-min1-max11">
<xs:restriction base="xs:string">
<xs:minLength value="1" />
<xs:maxLength value="11" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-min1-max20">
<xs:restriction base="xs:string">
<xs:minLength value="1" />
<xs:maxLength value="20" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-min1-max50">
<xs:restriction base="xs:string">
<xs:minLength value="1" />
<xs:maxLength value="50" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-max10">
<xs:restriction base="xs:string">
<xs:maxLength value="10" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-max11">
<xs:restriction base="xs:string">
<xs:maxLength value="11" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-max12">
<xs:restriction base="xs:string">
<xs:maxLength value="12" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-max20">
<xs:restriction base="xs:string">
<xs:maxLength value="20" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-max50">
<xs:restriction base="xs:string">
<xs:maxLength value="50" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="string-max100">
<xs:restriction base="xs:string">
<xs:maxLength value="100" />
</xs:restriction>
</xs:simpleType>
<!-- END definition of named types -->

</xs:schema>